<!--
{
    "u7562": {
        "string": "gebruiker - ID u7562: 'Beavis Garfield' gebruikt fiets ID:f4072",
        "bikes": [
            "f4072"
        ],
        "progress": 97,
        "timeTag": "00:01",
        "start": 1,
        "end": 40
    },
    "u12868": {
        "string": "gebruiker - ID u12868: 'Charlotte Twain' gebruikt fiets ID:f1861",
        "bikes": [
            "f1861"
        ],
        "progress": 98,
        "timeTag": "00:01",
        "start": 1,
        "end": 99
    }
}
-->
<!DOCTYPE html>
    <html lang="en">
    <head>
    	<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="homeStijl.css">
    	<title>test</title>
    </head>
    <body>
        <ul>
            <div class="container">
                <div class="info">
                    <h3>gebruiker - ID u7562: 'Beavis Garfield' gebruikt fiets ID:f4072</h3>
                    <p class="timestamp">00:01</p>
                </div>
                <div class="progressBar" style="width: 33%">
                    <div class="meter">
                        <span style="width: 97%"></span>
                        <p class="rideLen">ride length: 39 minutes</p>
                    </div>
                </div>
                <p>97%</p>
            </div>
            <div class="container">
                <div class="info">
                    <h3>gebruiker - ID u12868: 'Charlotte Twain' gebruikt fiets ID:f1861</h3>
                    <p class="timestamp">00:01</p>
                </div>
                <div class="progressBar" style="width: 33%">
                    <div class="meter">
                        <span style="width: 98%"></span>
                    </div>
                </div>
                <p>98%</p>
            </div>
        </ul>
    </body>
    </html>